<p>This is the Homepage</p>

{{#each posts as |post|}}
{{!-- <p>Logged In: {{logged_in}}</p> --}}
<p><strong>post: {{{json post}}}</strong></p>
<a href="/post/{{post.id}}">Title:{{post.title}}</a>
<p>By:{{post.user.username}}</p>
<p>Created on: {{post.createdDate}}</p>
<hr>
{{/each}}